
/* ---------->>> jtip <<<---------------------------------------------------------------*/
#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}

#JT_arrow{
	position:absolute;
	background-repeat: no-repeat;
	background-position: left top;
	z-index:101;
}

.JT_arrow_top{
	height:23px;
	width:10px;
    top:-3px;
}

.JT_arrow_bottom{
	height:23px;
	width:10px;
    top:266px;
}

.JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	left:-11px;
}

.JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #000;
	background:transparent;
	width: 200px;
	height: 285px;
	background-image: url(../images/missing.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#JT_copy{
	padding:0px 0px 0px 0px;
	color:#333333;
}



#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 0px;
}

.jTip{
cursor:hand;
white-space:nowrap;
}

/*=======================================MTG HELPER=============================================*/

.mtgfilter {
 	border: 0px solid;
	list-style:none;
	margin: 20px 0;
	padding: 0px;
	text-align:left;
}

/*================ HEADER OPTIONS ==================*/

.mtgfilter .header_options {
	float:right;
	margin-right:3px;
	color:#000000;
	text-decoration:none;
}

.mtgfilter .header_options p {
	margin: 0;
}

.mtgfilter .header_options a {
	font-size:11px;
	color:#000000;
	text-decoration:none;
}

/*================ POOLHEADER ==================*/

.mtgfilter .header{
	margin:0;
	padding:3px 0;
}

.mtgfilter .header h4{
	font-weight:bold;
	font-size: 150%;
	text-align:left;
	padding:0;
	margin:0;
}

.mtgfilter .header h4 hr{
	padding:0;
	margin:0;
}

.mtgfilter .header a{
	text-align:right;
	font-weight:normal;
	font-size: 90%;
	padding:0;
	margin:0;
}

/*================ POOLTABS ==================*/

.mtgfilter .mtgfilter-tabs{
	background:#CCCCCC;
}
.mtgfilter .mtgfilter-tabs ul{
	width:100%;
	margin:0px;
	padding:0px;
	list-style:none;
}

.mtgfilter .mtgfilter-tabs li{
	float:left;
	margin: 0;
	padding: 3px 0;
	text-align:center;
	overflow:hidden;
}
.mtgfilter .mtgfilter-tabs li a{
	display:block;
	color:#000000;
	margin:0;
	padding:0;
	text-decoration:none;
	width:100%;
	height:100%;
}

.mtgfilter .mtgfilter-tabs li a:hover{
	text-decoration:underline;
}

/*================ CARDLIST ==================*/

.mtgfilter .mtgfilter-content{
	margin:3px 3px 0 3px;
	padding:0;
	border:0px none;
}

.mtgfilter .mtgfilter-content td{
	vertical-align:top;
	margin:0px;
	padding:0px;
}

.mtgfilter .mtgfilter-content ul{
	list-style:none;
	margin: 0px;
	padding: 0px;

}
 
.mtgfilter .mtgfilter-content li{
	line-height:110%;
	list-style:none;
	margin: 0px;
	padding: 0px;
 }

.mtgfilter .mtgfilter-content a{
	text-decoration:none;
}

/*================ CARDBOX==================*/

.mtgfilter-cardbox {
	margin:0px;
	padding:0px;
	width: 200px;
	height: 285px;
}

.mtgfilter-cardbox img{
	margin:0px;
	padding:0px;
}

.mtgfilter-cardbox table {
	border-spacing: 0px;
  margin-left: 10px;
}

.mtgfilter-cardbox table td{
	padding:0px;
	margin:0px;
  line-height: 1px;
}

.mtgfilter .mtgfilter-preview {
	vertical-align:center;
	width: 200px;
	height: 285px;
	padding:0px;
	margin:0px;
	background-image: url(../images/missing.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-color:#000;
}

/*================ STYLE IMG ==================*/

.mtgfilter .thumbnail{
 margin:0px;
 padding:0px;	
}

img.cardpick_border{
	border:2px solid red;
}

a.cardpick_border{
	color:red;
	font-weight:bold;
}

li.mtgfilter-active {
  background-color: #3d3d3d;
}

div.mtgfilter-active {
  display: block;
}

.mtgfilter-hidden {
  display: none;
}

.mtgfilter-toggle {
  cursor: pointer;
}

.mtgfilter-header-title {
  text-align: center;
}

.mtgfilter-header-title h4 {
  margin: 0;
  padding: 0;
}

.mtgfilter-category-title {
  font-size: 1em;
  font-weight: bold;
}

.mtgfilter {
  margin: 0 auto;
  width: 500px;
}
